<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>衣服</string>
	<string>饰品</string>
	<string>书籍</string>
	<string>收藏</string>
	<string>玩具</string>
	<string>其它</string>
</array>
</plist>
