<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>衣服</string>
	<string>玩乐</string>
	<string>用品</string>
	<string>票券</string>
	<string>衣服</string>
	<string>食品</string>
	<string>电器</string>
	<string>家具</string>
	<string>其它</string>
</array>
</plist>
